.div{
    margin: 200px;
    color: aliceblue;
}

body{
    background-color: black;
}

#container {
    background: black;
    margin: 0 0 1rem;
    height: 10rem;
    display: flex;
    border-color: whitesmoke;
    align-items: center;
}

#h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.boton{
    background-color: greenyellow;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}